<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Open Data FTW</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main"></button>
        </div>

		<div class="navbar-collapse collapse" id="navbar-main">
        	<ul class="nav navbar-nav">
            	<li><a ng-href="#">Home</a></li>
            	<li><a ng-href="#/developers">Developers</a></li>
            	<li><a ng-href="#/wont-work">Something else</a></li>
        	</ul>

        	<ul class="nav navbar-nav navbar-right">
            	<li><a ng-href=''>Sign up</a></li>
            	<li><a ng-href=''>Sign in</a></li>
        	</ul>
        </div>
    </div>
</div>

<br>
<br>