.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;        # Make inputs at least the height of their button counterpart
  .box-sizing(border-box); # Makes inputs behave like true block-level elements
}